div.center {
    display: grid;
    justify-content: center;
}

h1.title {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

img.qr {
    margin-left: 3rem;
    margin-right: 3rem;
    height: 256px;
    width: 256px;
}